# Dossiers de build et de binaires
bin/
obj/
out/

# Fichiers de configurations Visual Studio
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.ds_store
*.idea/

# Autres fichiers et dossiers à ignorer
*.nupkg
*ReSharper*
*ReSharperClt*
*.ncrunch*
*.DotSettings
*.vspscc
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.log
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.userprefs
*.csproj.DotSettings.user
*.testsettings
*.vsmdi
*.cache
*.csproj.FileListAbsolute.txt
*.csprojAssemblyReference.cache
