Coordinateur : ++
Shaper :  -
Implementer : --
Completer Finisher : --
/Tp3/CreditImmobilierTests/CreditImmobilierTests/obj
/Tp3/CreditImmobilierTests/.vs/CreditImmobilierTests
/MorpionTest/bin/Debug/net8.0
/Tp3/CreditImmobilierTests/CreditImmobilier/obj
/Tp3/CreditImmobilierTests/CreditImmobilier/bin/Debug/net8.0
/Tp3/CreditImmobilierTests/CreditImmobilierTests/bin/Debug/net8.0
/Tp3/CreditImmobilierTests/.vs/ProjectEvaluation
/Tp3/Tests et Validation - S3 - Simulateur crédit immobilier en TDD.pdf
/MorpionTest/obj/Debug/net8.0
/PuissanceQuatre/.vs/MorpionApp
